@media (max-width: 496px) {
	.background__mountain {
		height: 516px;
	}
	.background__opacity-block {
		display: none;
	}
	.background__gradient {
		height: 597px;
	}
	.background__white {
		height: 786px;
	}
	.background__whiteborder {
		height: 422px;
	}
	.background__grey {
		display: none;
	}
	.content {
		width: 320px;
		top: 0;
		left: 50%;
		margin-left: -160px;
	}
	header {
		height: 452px;
	}
	header .title h1 {
		margin-left: 26%; 
	}
	header .menu {
		right: -59px;
		background-color: rgba(59,46,67,0);
		border: none;
	}
	header .menu__item:not(:first-child) {
		display: none;
	}
	header .menu__item:hover {
		background: rgba(44,35,50,0);
	}
	header .menu__link {
		width: 49px;
		border: none;
	}
	header .menu__link:hover {
		border-bottom: 2px solid #edbfff;
	}
	header .sliders__info-block {
		width: 232px;
    height: 65px;
		padding-left: 64px;
	}
	header .sliders__iphone-block {
		display: none;
	}
	header nav {
		margin-top: -14px;
    margin-right: 111px;
	}
	main .about-company__more {
		margin-top: 70px;
		width: 212px;
	}
	main .about-company__more:first-child {
		padding-left: 83px;
	}
	main .about-company__more:nth-child(2) {
		margin-top: 26px;
	}
	main .about-company__more:last-child {
    margin-top: 41px;
	}
	main .about-company__more .sprites {
		left: 30px;
	}
	main .about-company__more:nth-child(2) .sprites {
		top: 0px;
    left: -54px;
	}
	main .about-company__more p {
		width: 200px;
		font-family: 'MyriadProRegular', Arial, sans-serif;
		color: white;
	}
	main .about-company__more:first-child .excerpt, 
	main .about-company__more:nth-child(2) .excerpt, 
	main .about-company__more:last-child .excerpt {
		margin-right: 1px;
}